@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "bootswatch";
@import "partials/sidebar";
@import "partials/dashboard";
@import 'partials/user';
@import "partials/nav";
@import 'partials/error';
@import "partials/articles";
@import "partials/forms";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);

* {
  -webkit-transition: all 0.5s ease ;
  -moz-transition: all 0.5s  ease;
  -o-transition: all 0.5s  ease;
  transition: all 0.5s  ease;
}
