h1.page-title {

  padding: 1em;
  margin: .5em;
  background: #fff;
}

.article-item {
  font-family:$font-family-base;
}

.article-item:not(.recent) {

  background: #fff;
  padding: 1em;


  .title {
    background: rgba($brand-primary, 1);
    padding: 1em;
    padding-left: 2em;
    padding-bottom: 2em;
    color: #FFFFFF;
    margin:-1em;
    margin-bottom: 15px;
    font-weight: bold;


    span {
      font-size: 12px;
      padding-left: 5px;
    }

    h1 {
      color: #ffffff;
    }
  }

  a {

    &:not(.edit-button) {
      color: inherit;
    }

    &:hover:not(.edit-button) {
      text-decoration: none;

      .title {
        border-left: 10px solid #333;
        background-color: darken($brand-primary, 20);

      }

    }

    &.edit-button {
      position: absolute;
      background-color: #333;
      padding: 1em;
      right: 30px;
      color: #fff;
      outline: 1px solid rgba(146, 146, 145, 0.32);
      border-bottom: 2px solid #fff;

      &:hover {
        outline: 10px solid rgba(146, 146, 145, 0.32);
        text-decoration: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.9);
      }
    }

  }
}

.recent {
  background-color: rgba(210, 210, 210, 0.47);
  border-radius: 10px;
  padding: 1em;

  .title {
    background-color: #fff;
    padding: 1em;
    margin-top: 0;
    border-bottom: 8px solid rgba(51, 51, 51, 0.52);

    h1 {
      line-height: .5;
    }
    h5 {
      border-bottom: 2px solid $brand-primary;
      padding-bottom: 1em;
    }
  }

  .content {
    background-color: #fff;
    padding: 1em;
    font-weight: bold;

    li {
      font-size: 1.5em;
      list-style: none;
      list-style-type: decimal-leading-zero;
      margin-left: 1em;
      padding-bottom: 1em;
    }
  }

}