.dashboard:not(.container) {
  background-color: rgba(51, 51, 51, 0.16);
  position: absolute !important;
  height: 100%;

  .container {
    width: 100%;
  }

  .content {

    h1 {
      color: #424242;;
    }
  }

}


