#ohsnap {
  position: fixed;
  bottom: 5px;
  right: 5px;
  margin-left: 5px;
  z-index: 99;
  width:100%;


  /* ALERTS */
  /* inspired by Twitter Bootstrap */
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #eed3d7;
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
    left: 21px;
    font-family:monospace;
    /* Each alert has its own width */
    float: right;
    clear: right;

  }

  .alert-red {
    color: white;
    background-color: #DA4453;
  }
  .alert-green {
    color: white;
    background-color: #00bc50;
  }
  .alert-blue {
    color: white;
    background-color: #4A89DC;
  }
  .alert-yellow {
    color: white;
    background-color: #F6BB42;
  }
  .alert-orange {
    color:white;
    background-color: #E9573F;
  }

  .alert-black {
    color:white;
    background-color: #333;
  }
}