#dashboard-form {

  .panel-body {
    background-color:#F7F7F7;
  }
  .panel {

    .form-control {
      display: block;
      width: 100%;
      height: 51px;
      padding: 4px 21px;
      font-size: 16px;
      line-height: 1.428571429;
      color: $brand-primary;
      background-color: #FFF;
      background-image: none;
      border: 3px solid $brand-primary;
      border-radius: 1px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 2px rgba(107, 107, 107, 0.72);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .form-group {
      margin: 1em;
    }

    .input-group {
      margin: 1em;
    }
  }
}