/*CMS Logo adjustment @ Navigation */
svg#Layer_1 {
  width: 100px;
  top: -41px;
  position: relative;
}

.navbar-default .navbar-nav > .active > a {
  background-color: $brand-primary;
  color: #fff;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
}

.nav

.navbar-default .navbar-nav>.active>a {
  background-color: $brand-primary;
  color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #FFF;
  background-color: $brand-primary;

  &:after {
    border-color: #333 transparent transparent transparent;
  }
}

.navbar {
  .active:not(.navbar-right) {
    &::after {
      content: "";
      position: absolute;
      z-index: 400;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 15px 0 0;
      border-color: $brand-primary transparent transparent transparent;
    }


  }
}