/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;


  .togglebar {
    position: fixed;
    left: -48px;
    width: 48px;
    z-index: 100;
    top: 0;
    height: 100%;
    background: #000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    p {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      font-size: 3em;
      animation-name: flipYForward;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      -webkit-animation-name: flipYForward;
      -webkit-animation-duration: 1s, 1s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-name: flipYForward;
      -moz-animation-duration: 1s, 1s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: forwards;
    }
    .btn-primary {
      border-radius: 0;
      margin-left: 48px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      padding-top: 2em;
      padding-bottom: 2em;
    }

  }

}

#wrapper.toggled {
  padding-left: 250px;

  .togglebar {
    position: fixed;
    width: 48px;
    z-index: 100;
    top: 0;
    height: 100%;
    left: 0;
    background: #000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    .btn-primary {
      border-radius: 0;
      margin-left: 0px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    p {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      animation-name: flipYBack;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      -webkit-animation-name: flipYBack;
      -webkit-animation-duration: .1s, 1s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-fill-mode: forwards;
      -moz-animation-name: flipYBack;
      -moz-animation-duration: 1s;
      -moz-animation-iteration-count: 1;
    }

  }
}

#sidebar-wrapper {
  font-family: 'Roboto';
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  z-index: 99;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;

  .media {
    margin-top: 15px;
    padding-left: 40px;

    .media-object {
      margin: auto;
    }

    h4 {

      &.media-heading {
        color: #fff;
        text-align: center;
      }

    }

  }
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;

  ul.sidebar-dropdown-menu {
    display: none;
    padding: 0;
    margin: 0;
    background: rgb(39, 39, 39);

  }

  &.open {

    ul.sidebar-dropdown-menu {
      display: block;

      li {
        list-style: none;

        &:first-child {

        }

        &:last-child {
          border-bottom: 3px solid rgba($brand-primary, 0.65);
          padding-bottom: 6px;
        }
      }
    }
  }

  &.divider {
    border-top: 1px solid #fff;
  }

  &.active {
    background-color: $list-group-active-bg;

    a {
      color: $list-group-active-text-color;
    }

  }

}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {

  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);

}

.sidebar-nav li:hover {

}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 48px;

  }
}

@keyframes flipYBack {
  0% {
    $deg: 0deg;
    -ms-transform: rotateY($deg); /* IE 9 */
    -webkit-transform: rotateY($deg); /* Chrome, Safari, Opera */
    transform: rotateY($deg);
  }
  100% {
    $deg: 180deg;
    -ms-transform: rotateY($deg); /* IE 9 */
    -webkit-transform: rotateY($deg); /* Chrome, Safari, Opera */
    transform: rotateY($deg);
  }
}

@-webkit-keyframes flipYBack {
  0% {
    $deg: 0deg;
    -ms-transform: rotateY($deg); /* IE 9 */
    -webkit-transform: rotateY($deg); /* Chrome, Safari, Opera */
    transform: rotateY($deg);
  }
  100% {
    $deg: 180deg;
    -ms-transform: rotateY($deg); /* IE 9 */
    -webkit-transform: rotateY($deg); /* Chrome, Safari, Opera */
    transform: rotateY($deg);
  }
}

@keyframes flipYForward {
  0% {
    $deg: 180deg;
    -ms-transform: rotateY($deg); /* IE 9 */
    -webkit-transform: rotateY($deg); /* Chrome, Safari, Opera */
    transform: rotateY($deg);
  }
  100% {
    $deg: 0deg;
    -ms-transform: rotateY($deg); /* IE 9 */
    -webkit-transform: rotateY($deg); /* Chrome, Safari, Opera */
    transform: rotateY($deg);
  }
}

@-webkit-keyframes flipYForward {
  0% {
    $deg: 180deg;
    -ms-transform: rotateY($deg); /* IE 9 */
    -webkit-transform: rotateY($deg); /* Chrome, Safari, Opera */
    transform: rotateY($deg);
  }
  100% {
    $deg: 0deg;
    -ms-transform: rotateY($deg); /* IE 9 */
    -webkit-transform: rotateY($deg); /* Chrome, Safari, Opera */
    transform: rotateY($deg);
  }
}